{
  "host" : "broker-02", 
  "port" : 9999,
  "alias" : "broker02",
  "queries" : [
  {
    "object_name" : "kafka.server:type=BrokerTopicMetrics,name=MessagesInPerSec",
    "attributes" : [ "OneMinuteRate" ],
    "object_alias" : "${type}.${name}"
  },
  {
    "object_name" : "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec",
    "attributes" : [ "OneMinuteRate" ],
    "object_alias" : "${type}.${name}"
  },
  {
    "object_name" : "kafka.server:type=BrokerTopicMetrics,name=BytesOutPerSec",
    "attributes" : [ "OneMinuteRate" ],
    "object_alias" : "${type}.${name}"
  },
  {
    "object_name" : "kafka.server:type=ReplicaManager,name=UnderReplicatedPartitions",
    "attributes" : [ "Value" ],
    "object_alias" : "${type}.${name}"
  },
  {
    "object_name" : "kafka.network:type=RequestMetrics,name=TotalTimeMs,request=Produce",
    "attributes" : [ "Mean" ],
    "object_alias" : "${type}.${name}.${request}"
  },
  {
    "object_name" : "kafka.network:type=RequestMetrics,name=TotalTimeMs,request=FetchConsumer",
    "attributes" : [ "Mean" ],
    "object_alias" : "${type}.${name}.${request}"
  },
  {
    "object_name" : "kafka.controller:type=KafkaController,name=ActiveControllerCount",
    "attributes" : [ "Value" ],
    "object_alias" : "${type}.${name}"
  },
  {
    "object_name" : "java.lang:type=OperatingSystem",
    "attributes" : ["SystemCpuLoad", "ProcessCpuLoad", "OpenFileDescriptorCount","FreePhysicalMemorySize", "TotalPhysicalMemorySize" ],
    "object_alias" : "${type}"
  },
  {
    "object_name" : "java.lang:type=Memory",
    "attributes" : ["HeapMemoryUsage", "NonHeapMemoryUsage"],
    "object_alias" : "${type}"
  }
 ]
}